@charset "UTF-8";
/* * {
  outline: 2px rgb(208, 255, 0) solid;
} */
html {
  font-size: 100%;
  font-family: "Yu Gothic", sans-serif, "Poppins", sans-serif;
  color: #333;
}
body {
  font-weight: 300;
  background-color: rgba(255, 243, 230, 100);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
h2 {
  /* font-family: "Italianno"; */
  font-size: 1.5rem;
}

p {
  font-weight: 500;
}
:root {
  --fadeAnimation: fade 0.5s forwards;
}
.inner {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.pc-none {
  display: block;
}
.md-show {
  display: none;
}
.lg-show {
  display: none;
}

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 80px);
}
.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.breadcrumb__between {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #333;
}

/* header */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  opacity: 0.8;
  padding-top: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2% 0 5%;
}

.header__logo {
  margin: 0;
  line-height: 0;
}
.header__logo a {
  display: block;
}
.header__logo img {
  max-width: 180px;
}

.header__items {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__item {
  margin-left: 30px;
}

.header__link,
.slide-menu__link,
.header__link--contact {
  font-family: "Italianno";
  font-size: 35px;
  letter-spacing: 0.1rem;
}
.header__link::after .slide-menu__link::after {
  content: "";
  width: 0;
}

.header__link:hover {
  color: #c47c7c;
}

.header__link:hover::after,
.slide-menu__link:hover::after {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  border-radius: 2px;
  height: 2px;
  transition: width 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-color: #cba96d;
}

.header__link {
  font-weight: 500;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #141414;
  line-height: 1;
}

.header__link--contact {
  border: 1px solid #666666;
  border-radius: 4px;
  display: block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #141414;
  background-color: transparent;
  padding: 10px 40px;
  margin: 0 auto;
}

.header__link--contact span {
  position: relative;
  z-index: 9999;
}

.header__link--contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: #e9af53;
  transition: all 0.5s ease-in-out;
  transform: translateX(-110%) translateY(-20%) rotate(45deg);
}

.header__link--contact:hover span {
  color: #fff;
}

.header__link--contact:hover::after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

nav ul li.current a,
nav ul li a:hover {
  color: #b74803;
}

/* hamburger-button */
.hamburger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  cursor: pointer;
  z-index: 999;

  span {
    background-color: #443103;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
  }
}
.hamburger span {
  position: absolute;
}
.hamburger-button .hamburger-button span:first-of-type {
  top: 0;
}
.hamburger-button span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-button span:last-of-type {
  bottom: 0;
}
.hamburger-button.active > span:first-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 9999;
  background-color: #443103;
}
.hamburger-button.active > span:nth-of-type(2) {
  display: none;
}
.hamburger-button.active > span:last-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9999;
  background-color: #443103;
}

/* slide-menu */
.slide-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  opacity: 0.5;
  z-index: 998;
}
.slide-menu ul {
  margin: 40px 0px;
  text-align: center;
}
.slide-menu li {
  /* border-bottom: solid 2px #333; */
  width: 80px;
  margin-bottom: 20px;
  font-size: 20px;
}
.slide-menu__link:hover {
  color: #333;
}

.slide-menu__link--contact {
  padding: 10px 3px;
  transition: 0.3s background-color;
  background-color: #cba96d;
  border-radius: 6px;
}
.slide-menu__link--contact:hover {
  opacity: 1;
  background-color: #cba96d;
}
.slide-menu.active {
  display: flex;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    top: 45%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}
.icon-button i {
  font-size: 30px;
  display: flex;
  text-align: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
}

/* kv */
.kv {
  margin: 100px 0 0 auto;
  padding: 20px 0 80px 0;
  height: calc(100vh - 200px);
  text-align: center;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 10;
}

.kv__content {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-radius: 40px 0 0 40px;
  margin-left: 5%;
}
/* .wrapper {
  height: 50vh;
} */

.main-img {
  width: 100%;
  height: 700px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  animation: fade 30s infinite;
  overflow: hidden;
  object-fit: cover;
  &:first-of-type {
    background-image: url(../img/kv-img1.jpg);
    animation-delay: 0s;
  }
  &:nth-last-of-type(2) {
    background-image: url(../img/kv-img2.jpg);
    animation-delay: 6s;
  }
  &:nth-last-of-type(3) {
    background-image: url(../img/kv-img3.jpg);
    animation-delay: 12s;
  }
  &:nth-last-of-type(4) {
    background-image: url(../img/kv-img4.jpg);
    animation-delay: 18s;
  }
  &:nth-last-of-type(5) {
    background-image: url(../img/kv-img5.jpg);
    animation-delay: 24s;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
    transform: scale(1);
  }
  18% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.kv__title-img {
  position: absolute;
  right: 0;
  /* bottom: 5%; */
  width: 100%;
  height: 100%;
  /* background: radial-gradient( rgba(85, 85, 85, .5), rgb(238, 238, 238)); */
  background: linear-gradient(
    to right,
    rgba(230, 140, 85, 0) 30%,
    rgb(255, 255, 255, 0.9) 70%
  );
  /* background: linear-gradient(to right, white, gray); */
}
.logo-img {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 60%;
  max-width: 800px;
}

/* kv__scroll */
.kv__scroll {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #333;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  font-size: 0.8rem;
  z-index: 9;
}
.kv__scroll::after {
  position: absolute;
  bottom: -90px;
  left: 50%;
  width: 2px;
  background-color: rgb(12, 11, 11);
  height: 80px;
  content: "";
  animation: scrollDownLine 1.5s infinite;
}
@keyframes scrollDownLine {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* about */
.about {
  margin: 80px 0 0;
  width: 100%;
  justify-content: center;
}
.about .show {
  animation: var(--fadeAnimation);
}
.about__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(../img/aboutback.png);
  background-size: 600px 500px;
  background-repeat: no-repeat;
  background-position: 20%;
  &.is-scrollIn {
    opacity: 1;
    transform: translate(0, -50px);
  }
}

/* section-title */
.section-title {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 130px;
  /* display: inline-block; */
  position: relative;
  margin-left: 15%;
}
.section-title span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  font-family: "Italianno";
  letter-spacing: 0.15rem;

  /* border-bottom: 1px solid #333; */
}

.section-title h2 {
  position: absolute;
  top: 90px;
  right: 50px;
  font-size: 12px;
  font-family: "Yu Gothic", sans-serif;
  /* font-weight: ; */
}
.section-title span::after {
  position: absolute;
  bottom: 5px;
  right: 0px;
  content: "";
  border: solid 2px #bf901a;
  width: 50px;
  /* height: 4px; */
  border-radius: 5px;
  /* width: 10px; */
}

.about__text {
  width: 40%;
  line-height: 1.88;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin: 20px 170px 20px 50px;
  text-align: center;
}
.about__policy {
  font-size: 30px;
  font-weight: bold;
}
.about img {
  object-fit: cover;
  border-radius: 10px;
  width: 40%;
}

/* read-more__button */
.read-more__button {
  display: flex;
  width: 160px;
  padding: 18px;
  border-radius: 7px;
  /* border: 2px solid #ccc; */
  background: #f1e767;
  font-family: "Italianno";
  background: gradient(
    linear,
    left top,
    left bottom,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  margin: 80px auto;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: filter 0.3s, transform 0.3s;
  position: relative;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.read-more__button span {
  position: relative;
}
.read-more__button::before {
  background: linear-gradient(to right, rgba(203, 122, 157, 0.699), #f4fcfe);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  width: 100%;
  border-radius: 8px;
}
.read-more__button::after {
  content: "";
  position: relative;
  width: 10px; /* ボックスの横幅を指定する */
  height: 10px; /* ボックスの高さを指定する */
  border-top: 1px solid #666666; /* 境界線の上部を実線に指定する*/
  border-right: 1px solid #666666; /* 境界線の上部を実線に指定する*/
  transform: rotate(45deg); /* ボックスを回転させる（右向き矢印） */
  top: 8px;
  animation: slideBlink 1s linear infinite;
}
@keyframes slideBlink {
  /* アニメーションの内容 */
  from {
    /* アニメーション開始時のスタイル */
    opacity: 0;
    left: 8px;
  }
  to {
    /* アニメーション終了時のスタイル */
    opacity: 1;
    left: 25px;
  }
}

.read-more__button:hover {
  background: gradient(
    linear,
    left bottom,
    left top,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.read-more__button:hover::before {
  opacity: 0;
}
.about .read-more__button {
  margin: 100px auto;
}

/*service  */
.service {
  background-image: url(../img/news-background.jpg);
  background-size: cover;
  /* height: 650px; */
  padding: 50px 0 20px 0;
}
.service__inner {
  position: relative;
  z-index: 100;
}
.service .section-title {
  text-align: center;
  margin: 0 auto;
}
.service .section-title h2 {
  right: 43px;
}

.service-title__main-second {
  font-family: "Italianno";
  font-size: 3rem;
  width: 100%;
  letter-spacing: 0.15rem;
  font-weight: 100;
  height: 100px;
  padding-bottom: 0px;
  position: relative;
  border-radius: 20px;
  /* background-color: rgba(255, 243, 230, 0.5); */
}

.service-title__main-second.creator {
  border-radius: 20px;
}

.service__items {
  display: flex;

  margin: 10px auto 20px;
  flex-wrap: wrap;
  gap: 3.5%;
  padding: 0;
  position: relative;
  z-index: 100;
}
.website-service {
  background-color: rgba(255, 243, 230, 0.5);
  /* display: flex; */
  width: 100%;
  border-radius: 5px 20px 20px 5px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.service__items--web,
.service__items--creator {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}
.creator-service {
  background-color: rgba(255, 243, 230, 0.5);
  /* display: flex; */
  width: 100%;
  border-radius: 20px 5px 5px 20px;
  padding-top: 20px;
}
.service__item {
  width: 30%;
  margin-bottom: 24px;
  /* display: block; */
}
.service__item--link {
  display: block;
  padding: 0px 20px;
  /* opacity:0.5;
	transition:0.3s; */
  position: relative;
  top: 0;
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.service__item--link::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 10px;

  width: 0;
  height: 0;
  border: 2px solid transparent;
}
.service__item--link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-radius: 10px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}
.service__item--link:hover::before {
  width: 100%;
  height: 100%;
  border-top-color: #d38e5d;
  border-right-color: #d38e5d;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.service__item--link:hover::after {
  width: 100%;
  height: 100%;
  border-bottom-color: #d38e5d;
  border-left-color: #d38e5d;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}
.service__item--link:hover {
  /* background-color: #f1d0d0; */
  /* border: #fdaa4c 2px solid; */
  top: -10px;
  transition: all 0.8s;
}
.service__item h3 {
  font-size: 1rem;
}
.service__item-img {
  width: 200px;
  height: 200px;
  background-image: url(../img/aboutback.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline: auto;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__item img {
  width: 60%;
  /* padding-top: 40px; */
}
.service__item:nth-child(2) img,
.service__item:nth-child(3) img {
  width: 50%;
}

.service__item:nth-child(5) img {
  width: 30%;
}
.service__item-title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.service__item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  background-image: url(../img/news-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.news-section .section-title {
  margin: 40px 15%;
}
.news .section-title h2 {
  position: absolute;
  right: 65px;
}
.news {
  padding: 101px 0 30px;
}
.news__inner {
  position: relative;
  z-index: 100;
}
.news__items {
  margin: 50px auto 0;
  width: 70%;
  text-align: center;
  position: relative;
  z-index: 100;
}
.news__items-wrap {
  display: flex;
  /* justify-content: space-around; */
  /* text-align: center; */
  padding: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #a5a2a2;
}

.news-item__date {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.786;
  display: inline-block;
  padding-bottom: 10px;
}
.news__item {
  text-align: start;
  width: 50%;
  margin-inline: auto;
}
.news__item.news-item {
  margin: 0 20px;
}
.news-item__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.667;
  /* margin-left: 20px; */
  width: 100%;
  /* padding: 0 30px 30px; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.news__img {
  width: 200px;
  /* padding-left: 80px; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: #b9c7da;
  height: 150px;
  border-radius: 3px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.news .read-more__button {
  margin: 50px auto;
  position: relative;
  z-index: 100;
}

/* works */
.works {
  margin: 60px auto;
  position: relative;
  z-index: 100;
}
.works__title.section-title {
  margin: 50px auto;
}
.works .section-title h2 {
  position: absolute;
  right: 43px;
}
.works__inner.inner {
  padding: 0;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* margin: 0 auto; */
  padding-top: 50px;
  /* max-width: 2000px; */
  gap: 30px;
  padding-right: 0;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 35px;
  row-gap: 46px;
}
.works-item {
  width: 31%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  transition: transform 0.8s;
}
.works-item a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.works-item img {
  filter: saturate(20%);
  filter: sepia(80%);
  transition: filter 0.5s, transform 0.5s;
  vertical-align: top;
}
.works-item div {
  overflow: hidden;
}
.works-item:hover img {
  position: relative;

  transform: scale(1.1);
  filter: saturate(100%);
}

.contact {
  background-image: url(../img/news-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  /* display: flex; */
  justify-content: center;
  /* text-align: center; */
  /* width: clamp(460px, 90vw, 900px); */
  margin: 80px auto 0;
  position: relative;
  z-index: 100;
}
.contact__wrap {
  padding: 20px 0;
  margin: 20px;
}
.contact .section-title {
  margin: 30px auto;
  width: 270px;
}
.contact .section-title span {
  position: absolute;
  left: 50px;
}
.contact .section-title h2 {
  position: absolute;
  right: 62px;
}
.contact__text {
  text-align: center;
  margin: 30px auto;
  line-height: 1.78;
  letter-spacing: 0.05em;
  /* background-color: rgba(220, 220, 220, 0.3); */
}

.contact__form {
  margin-top: 68px;
  padding: 0 20px 0 60px;
  width: 20%;
}

.contact__item:not(:first-child) {
  margin-top: 30px;
}

.contact__label {
  display: flex;
  align-items: center;
  position: relative;
}

.contact__label-text {
  font-size: 16px;
  color: #25262b;
}

.contact__required {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  background-color: #e05760;
  padding: 2px 10px;
  margin-left: 8px;
}

.contact__input,
.contact__select {
  font-size: 14px;
  color: #25262b;
  border-radius: 4px;
  border: 1px solid #aab5ba;
  margin-top: 12px;
  padding: 11px;
  width: 100%;
}

.contact__select-wrap {
  position: relative;
}

/* .contact__select-wrap::after {
  position: absolute;
  content: url(../img/icon-arrow.svg);
  top: 19px;
  right: 11px;
} */

.contact__textarea {
  font-size: 14px;
  color: #25262b;
  border: 1px solid #aab5ba;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  margin-top: 12px;
  padding: 11px;
  resize: none;
}

.contact__input::-moz-placeholder,
.contact__textarea::-moz-placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__select:invalid {
  /* color: #d5d5d5; */
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  /* 追加のスタイルが必要な場合はここに追加 */
}
.contact .read-more__button {
  margin: 0 auto;
}
.contact .read-more__button button {
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  color: #333;
  padding: 15.5px 12px;
  width: 50%;
  transition: background-color 0.3s;
}

.contact .read-more__button::before {
  background: linear-gradient(to right, rgba(203, 122, 157, 0.699), #f4fcfe);
  content: "";
  /* height: 100%; */
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  /* width: 50%; */
  border-radius: 8px;
}
.contact .read-more__button::after {
  top: 6px;
}

.contact.read-more__button span {
  font-family: "Yu Gothic";
  font-weight: 100;
  color: #333;
}
sup {
  position: absolute;
  top: 8px;
  color: #f0111f;

  font-size: 20px;
}
/* サンクスページ */
.thanks {
  padding: 200px 0;
}
.thanks__text {
  text-align: center;
}
.thanks__button.read-more__button {
  width: 300px;
}
.thanks__button.read-more__button::after {
  top: 15px;
  left: 30px;
}
/* Footer */
#footer {
  width: 100%;
  background-image: url(../img/footer-background.jpg);
  /* padding-bottom: 180px; */
}
.footer__container {
  position: relative;
  z-index: 100;
}

.footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
  margin: 0;
}

.footer a {
  color: #1d1635;
  font-family: "Italianno";
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.footer__icon i {
  font-size: 30px;
  padding: 10px;
  margin: 0 30px;
  color: #333;
  cursor: pointer;
}
.footer__icon {
  text-align: center;
}
.footer__info {
  letter-spacing: 2px;
  line-height: 1.5;
  display: block;
  max-width: 500px;
}

.footer__copy-right p {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 0.85rem;
}

/* scroll */
.scroll-fixed {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.loop__wrap {
  display: flex;
  position: relative;
  z-index: -100;
}

.loop__wrap div {
  flex: 0 0 auto;
  white-space: nowrap;
  font-size: 130px;
  font-weight: 900;
  overflow: hidden;
  margin: 0 auto;
}
.loop__wrap--first {
  color: #dd9b45;
}
.loop__wrap--second {
  color: #dd9b45;
}
.loop__wrap div:nth-child(odd) {
  animation: loop 200s -100s linear infinite;
}

.loop__wrap div:nth-child(even) {
  animation: loop2 200s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* .page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}
.page-top-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #886a1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
} */

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.test-slick {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
  z-index: 100;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
}

/* about html */
.about__html {
  position: relative;
  z-index: 100;
  /* margin-top:200px ; */
}
.career__title .section-title {
  margin-top: 0;
}

.career__inner {
  display: flex;
  /* justify-content: space-between; */
}

.career__wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-inline: auto;
}

.career__items {
  margin: 30px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 60px;
}

.my-photo__img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  margin: 30px 0;
}

.introduction__inner {
  display: flex;
  margin-left: 40px;
}

.introduction__text {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  /* width: 80%; */
  text-align: center;
}

.my-name__text {
  /* padding-left: 20%; */
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 20px 0 80px;
  padding: 0 30px;
}
.introduction__text2 {
  display: flex;
}

.my-programming-word {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 0;
}
.my-programming-word h2 {
  font-size: 16px;
}

.word-items {
  padding: 0 10px 0 20px;
}

.about__html .read-more__button {
  position: relative;
  z-index: 100;
  margin: 50px auto;
}
.about__html .read-more__button::after {
  top: 11px;
}

/* news.html */
.dltable {
  width: 90%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 15px;
  background-color: #fff;

  .row1 {
    width: 20%;
  }
  .row2 {
    width: 20%;
  }
  .row3 {
    width: 20%;
  }
  .row4 {
    width: 20%;
  }
  .row5 {
    width: 20%;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
    dt {
      padding: 10px 0;
      background: #f2f2f2 none repeat scroll 0 0;
      color: #333;
    }
    dd {
      padding: 10px 0;
    }
  }
}
/* // ページネーションの要素を横並びにする */
.nav-links {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* // 前へ、次へリンクのスタイル */
.pagination__arrow {
  display: inline-block;
  width: 11px;
  height: 18px;
}

/* // それぞれのページ番号のスタイル */
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #dc735c;
  border: 1px solid #000;
  border-radius: 15px;
}

/* // 現在のページ番号のCSS（色を反転させている） */
.page-numbers.current {
  color: #383838;
  background-color: #e76094;
}

/* // ボーダーラインを打ち消す */
.page-numbers.dots,
.page-numbers.prev,
.page-numbers.next {
  border: none;
}

/* single.php */
.detail__body {
  width: 70%;
  margin-top: 80px;
}
.detail__inner {
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
}
.detail__content h1 {
  font-size: 28px;
  margin-bottom: 32px;
  padding: 8px 16px;
  border: 3px solid #67a7cc;
}

.detail__content h2 {
  font-size: 24px;
  margin-bottom: 32px;
  padding: 8px 16px;
  color: #fff;
  background-color: #67a7cc;
}

.detail__content h3 {
  font-size: 20px;
  margin-bottom: 32px;
  padding: 0 16px 8px;
  border-bottom: 2px solid #67a7cc;
}

.detail__content p {
  margin-bottom: 24px;
}

.detail__content a {
  display: block;
  text-decoration: underline;
  color: #0072bc;
}

.detail__content ul {
  margin-bottom: 24px;
}

.detail__content li {
  position: relative;
  padding-left: 1em;
}

.detail__content li::after {
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 4px;
  background-color: #67a7cc;
}

.detail__content li + li {
  margin-top: 4px;
}
.detail__archive li + li {
  margin-top: 4px;
}

.detail__archive a {
  color: #000;
}
.detail__side {
  /* position: absolute; */
  top: 0;
  right: 0;

  width: 30%;
  /* height: 600px; */
}
.detail__group {
}

.detail__side-title {
  background-color: #faae70;
  color: #fff;
}
.detail__list {
}

.detail__article {
  height: 20%;
}

.detail__link {
  overflow: hidden;
}

.detail__thumbnail.wp-post-image {
  width: 250px;
  height: 250px;
  padding: 0 30px;
}

.detail__img {
  height: 200px;
}

.detail__summary {
}

.detail__day {
}

.detail__group {
}

.detail__list {
}

.detail__item {
}

.detail__link {
  overflow: hidden;
}

.form__list {
  margin-top: 40px;
}

.form__field + .form__field,
.form__acceptance {
  margin-top: 24px;
}

.form__required {
  color: #e20000;
}

.form__input::placeholder {
  color: #a9a9a9;
}

.form__textarea {
  height: 160px;
}

.form__input,
.form__select,
.form__textarea,
.form__acceptance-text {
  font-size: 14px;
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
}

.form__acceptance-text {
  overflow-y: auto;
  height: 120px;
  background-color: #f2f2f2;
}

.form__select {
  padding-right: 35px;
}

.form__data-select {
  position: relative;
}

.form__data-select::after {
  position: absolute;
  top: 46%;
  right: 15px;
  width: 10px;
  height: 10px;
  content: "";
  transform: translateY(-50%) rotate(135deg);
  border-top: solid 2px #000;
  border-right: solid 2px #000;
}

.form__data-radio {
  display: flex;
  flex-wrap: wrap;
}

.form__data,
.form__data-radio,
.form__data-select,
.form__data-check {
  margin-top: 4px;
}

.wpcf7-list-item {
  margin: 0;
}

.wpcf7-form-control-wrap[data-name="radio-category"]
  .wpcf7-list-item
  + .wpcf7-list-item {
  margin-left: 20px;
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: 16px;
}

.wpcf7-form-control-wrap[data-name="radio-category"]
  .wpcf7-list-item-label::before {
  position: absolute;
  top: 56%;
  left: 0;
  width: 14px;
  height: 14px;
  content: "";
  transform: translateY(-50%);
  border: 1px solid #000;
  border-radius: 7px;
}

.wpcf7-form-control-wrap[data-name="radio-category"]
  .wpcf7-list-item-label::after {
  position: absolute;
  top: 56%;
  left: 3px;
  width: 8px;
  height: 8px;
  content: "";
  transform: translateY(-50%);
  opacity: 0;
  border-radius: 4px;
  background-color: #000;
}

.wpcf7-form-control-wrap[data-name="radio-category"]
  .wpcf7-list-item
  input:checked
  + .wpcf7-list-item-label::after {
  opacity: 1;
}

.wpcf7-form-control-wrap[data-name="privacy"] .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.wpcf7-form-control-wrap[data-name="privacy"] .wpcf7-list-item-label::before {
  position: absolute;
  top: 3.25px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  border: 1px solid #000;
  border-radius: 3px;
}

.wpcf7-form-control-wrap[data-name="privacy"] .wpcf7-list-item-label::after {
  position: absolute;
  top: 9.25px;
  left: 5px;
  width: 10px;
  height: 5px;
  content: "";
  transform: rotate(-45deg);
  opacity: 0;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.form__checkbox:checked + .wpcf7-list-item-label::after {
  opacity: 1;
}

.form__submit-button {
  margin-top: 40px;
  text-align: center;
}

.form__submit-input {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  padding: 16px 20px;
  transition: opacity 0.3s;
  color: #fff;
  border-radius: 4px;
  background-color: #000;
  &:hover {
    transition: opacity 0.3s;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 60%;
  }
  .mv {
    margin-bottom: 0;
  }
  .mv__inner {
    margin-bottom: 0;
  }
  /* .section-title {
    width: 170px;
    height: 120px;
  } */
  .section-title h2 {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }
  .about .section-title h2 {
    right: 50px;
  }
  .about__inner {
    margin: 0 auto;
    max-width: 95%;
    /* flex-direction: column-reverse; */
  }
  .about img {
    margin: 0 30px;
    border-radius: 10px;
    width: 50%;
    height: 60%;
  }
  .about__text {
    margin: 0 auto;
    width: 90%;
  }
  .service-title__main--second {
    font-size: 1rem;
    letter-spacing: 0.05em;
    width: 400px;
  }
  /* .service-title__main--second span{
 
} */
  .website-service,
  .creator-service {
    flex-direction: column;
    margin-inline: auto;
    /* width: 80%; */
  }

  .service__item {
    margin-inline: auto;
  }
  /* .service__item-text {
    width: 250px;
  } */

  .news .section-title {
    text-align: center;
  }
  .news .section-title h2 {
    position: absolute;
    right: 65px;
  }
  .news-list > div:first-of-type {
    border-right: transparent;
  }
  .news-list > div:last-of-type {
    border-left: transparent;
  }
  .works .section-title h2 {
    position: absolute;
    right: 25px;
  }
  .works .section-title {
    margin: 0 auto;
  }
  .works .section-title h2 {
    right: 45px;
  }
  .works__inner {
    min-width: 100%;
  }
  .works__list {
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    /* margin: 0 auto; */
    gap: 20px;
  }

  .contact .section-title {
    width: 200px;
  }
  .contact__inner {
    padding: 80px 20px;
  }
  .contact .section-title h2 {
    position: absolute;
    right: -10px;
  }
  .contact p {
    font-size: 18px;
    line-height: 2;
  }
  .contact__wrap {
    margin: 0;
  }

  .contact__form {
    margin-top: 47px;
  }
  .contact__item:not(:first-child) {
    margin-top: 29px;
  }

  .contact__label-text {
    font-size: 14px;
  }

  .contact__required {
    font-size: 10px;
  }
  .contact__input,
  .contact__select {
    font-size: 13px;
    padding: 8px;
  }

  .contact__select-wrap::after {
    top: 15px;
    right: 8px;
  }

  .contact__textarea {
    font-size: 13px;
    padding: 8px;
    height: 146px;
  }

  .contact__input::-moz-placeholder,
  .contact__textarea::-moz-placeholder {
    font-size: 13px;
  }
  .contact__input::placeholder,
  .contact__textarea::placeholder {
    font-size: 13px;
  }

  .contact__select:invalid {
    font-size: 13px;
  }

  .contact__button {
    font-size: 14px;
    margin-top: 24px;
    padding: 13px 12px;
  }

  .footer__icon {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .career__inner {
    flex-direction: column;
  }
  .career__items {
    /* width: 80%; */
    margin: 0 auto;
    line-height: 1.88;
    letter-spacing: 0.05em;
    padding: 30px 100px;
  }
  .my-photo__img {
    margin-inline: auto;
    width: 60%;
  }
  .introduction__inner {
    flex-direction: column-reverse;
  }
  .introduction__text {
    margin-inline: auto;
    margin-top: 30px;
    width: 80%;
  }
  .introduction__inner {
    display: flex;
    /* margin-left: 40px; */
    margin: 0;
  }

  .introduction__text {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 0px;
    /* width: 80%; */
    text-align: center;
  }

  .my-name__text {
    margin: 0 10px 0 -20px;
    padding: 0 10px;
  }
  .introduction__text2 {
    justify-content: center;
  }
  .lg-show {
    display: block;
  }
  .lg-none {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .header__logo {
      width: 132px;
    }

    .logo img {
      width: 150px;
      margin-left: 0;
    }
    .main-img1 {
      margin-left: 140px;
      width: 170px;
      height: 450px;
    }
    .hamburger-button {
      /* position: absolute; */
      top: 40px;
      right: 100px;
      z-index: 2000;
    }
    /* .main-title img {
    width: 30%;
    margin: 30px 0;
   } */
    /* .kv img {
      position: relative;
      top: 400px;
      right: 30px;
      width: 200px;
    } */

    .service__items {
      flex-wrap: wrap;
      justify-content: center;
    }
    .service__item {
      /* margin: 20px 0; */
      width: 300px;
    }
    .service-title__main--second {
      font-size: 1rem;
      letter-spacing: 0.05em;
      width: 400px;
    }
    .service__items--web,
    .service__items--creator {
      flex-direction: column;
    }
    .website-service,
    .creator-service {
      width: 90%;
    }
    .about {
      margin: 0;
    }
    .about__wrap {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
    .about .section-title {
      margin: 0 auto;
    }
    .about__wrap img {
      margin: 20px auto;
    }
    .about__text {
      margin: 20px auto;
      font-size: 14px;
      width: 80%;
    }
    .about__policy {
      font-size: 20px;
    }

    .about.read-more__button {
      margin: 0;
    }

    .news__items-wrap {
      padding: 20px 0;
      flex-direction: column;
    }
    .news__items-wrap img {
      margin-inline: auto;
    }

    .news-item__title {
      padding: 0 0 50px 0;
    }

    .works {
      margin: 0;
    }
    .works .section-title {
      position: relative;
    }

    .works-list {
      gap: 10px;
      padding: 20px;
    }
    .works-item {
      width: 40%;
    }
    .works-inner {
      max-width: 700px;
      flex-wrap: wrap;
      margin: 20px;
    }
    .contact__title.section-title span {
      left: 20px;
    }
    .contact__title.section-title h2 {
      right: 40px;
    }
    .contact__wrap {
      padding: 0;
    }
    .contact__inner {
      flex-direction: column;
      justify-content: center;
      /* margin: 0 auto; */
      padding: 0;
    }
    .contact__text {
      max-width: 0 auto;
      padding: 0;
    }
    .contact__form {
      margin-inline: auto;
      width: 80%;
      padding: 0;
    }

    .contact__form dt {
      width: 150%;
      justify-content: start;
    }
    .contact .read-more__button {
      width: 50%;
    }

    .footer__container {
      display: flex;
    }
    .footer__nav.inner {
      width: 150px;
    }
    .footer__items {
      max-width: 200px;
      flex-direction: column;
    }
    .footer__item {
      padding: 20px 0;
    }

    .footer__icon {
      flex-direction: column;
      width: 50px;
      margin: 0 15px;
    }
    .footer__icon i {
      font-size: 30px;
      padding: 25px 0;
    }
    .footer__info.inner {
      padding-top: 80px;
    }
    .career__items {
      padding: 20px 10px;
    }
    .introduction__inner {
      margin: 0;
      justify-content: center;
    }
    .introduction__text2 {
      flex-direction: column;
      text-align: center;
      width: 80%;
      margin-inline: auto;
    }
    .my-name__text {
      padding: 0;
      margin: 0 0 10px 0;
    }
    .word-items {
      text-align: center;
    }
    .lg-show {
      display: none;
    }
    .md-none {
      display: none;
    }

    .md-show {
      display: block;
    }
    @media screen and (max-width: 375px) {
      .hamburger-button {
        /* position: absolute; */
        top: 40px;
        right: 100px;
        z-index: 2000;
      }
      .about__text {
        width: 100%;
      }
      .service-title__main-second span {
        font-size: 50px;
      }
      .service__item {
        width: 100%;
      }

      .service__item h3 {
        width: 100%;
      }
      .service__item-img {
        margin: 0 auto;
      }
      .service__item-text {
        width: 100%;
        margin: 0;
      }
      .news-item__title {
        padding: 0 0 50px 0;
      }
      .works-item {
        width: 100%;
      }

      .footer__nav.inner {
        padding-right: 0;
      }
      .footer__icon i {
        margin: 0;
      }

      .sp-show {
        display: block;
      }
      .sp-none {
        display: none;
      }
    }
  }
}

/* service_css */

.website-service {
  position: relative;
}
.fv-img__website {
  background-image: url(../img/web-site-service-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__design {
  background-image: url(../img/web_design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__renewal {
  background-image: url(../img/site-renewal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__recipe {
  background-image: url(../img/recipe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__consultant {
  background-image: url(../img/consultant1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__Photographer {
  background-image: url(../img/photographing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  aspect-ratio: 1500 / 400;
}

.website-service__inner {
  margin-inline: auto;
}

.page-title {
  font-size: 60px;
  width: 350px;
  height: 70px;
  /* display: inline-block; */
  text-align: center;
  position: absolute;
  margin-inline: auto;
  font-family: "Italianno";
  letter-spacing: 0.08rem;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(232, 232, 232, 0.8);
  border-radius: 5px;
}
.page-title__recipe,
.page-title__consultant,
.page-title__photo,
.page-title__design {
  font-size: 70px;
  width: 90%;
  max-width: 500px;
  /* height: 100px; */
  /* display: inline-block; */
  align-items: center;
  text-align: center;
  position: absolute;
  margin-inline: auto;
  font-family: "Italianno";
  letter-spacing: 0.08rem;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(232, 232, 232, 0.9);
  border-radius: 5px;
}

.service-items {
  /* padding-left: 50px; */
  line-height: 1.556;
  letter-spacing: 0.05em;
}

.service-item {
  text-align: center;
}

.summary,
.track-record,
.price {
  padding: 20px 0;
}
/* .summary {
  padding-top: 0;
} */

.service-title {
  padding: 10px 0;
  letter-spacing: 0.1em;
  margin-inline: auto;
  width: 200px;
  position: relative;
}
.service-title::before {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 0;
  border: 1px solid #bf901a;
  width: 150px;
}

.service-item .shop__link {
  color: #b74803;
  background-color: #fff;
}

.price {
  text-align: center;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: rgb(255, 153, 229);
}
.pricechart_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
}

.pricechart_list {
  box-shadow: 6px 6px 12px -4px rgba(0, 0, 0, 0.16);
}

.pricechart_item__title {
  text-align: center;
  background-color: #fde4f9;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  vertical-align: middle;
  padding: 20px 12px;
}

.pricechart_item__title.pricechart_item__title01 {
  background-color: rgba(255, 243, 230, 100);
}

.pricechart_item__radius01 {
  border-radius: 8px 0 0 0;
}
.pricechart_item__radius02 {
  border-radius: 0 8px 0 0;
}
.pricechart_item__radius03 {
  border-radius: 0 0 0 8px;
}
.pricechart_item__radius04 {
  border-radius: 0 0 8px 0;
}

.pricechart_item__text {
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  background-color: #ffddbd;
  padding: 20px;
}

.font_large {
  font-size: 30px;
}

.font_small {
  font-size: 12px;
}

/* scroll */
.scroll-fixed {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.loop__wrap {
  display: flex;
  position: relative;
  z-index: -100;
}

.loop__wrap div {
  flex: 0 0 auto;
  white-space: nowrap;
  font-size: 130px;
  font-weight: 900;
  overflow: hidden;
  margin: 0 auto;
}
.loop__wrap--first {
  color: #dd9b45;
}
.loop__wrap--second {
  color: #dd9b45;
}
.loop__wrap div:nth-child(odd) {
  animation: loop 200s -100s linear infinite;
}

.loop__wrap div:nth-child(even) {
  animation: loop2 200s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* .page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}
.page-top-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #886a1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
} */

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.test-slick {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;
  position: relative;
  z-index: 100;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .section-title h2 {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }

  .service-title__main--second {
    font-size: 1rem;
    letter-spacing: 0.05em;
    width: 400px;
  }
  /* .service-title__main--second span{
 
} */
  .website-service,
  .creator-service {
    flex-direction: column;
    margin-inline: auto;
    /* width: 80%; */
  }

  .service__items p {
    text-align: center;
  }
  .service__item {
    margin-inline: auto;
  }
  .pricechart_wrap {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 40px 0;
  }

  .lg-show {
    display: block;
  }
  .lg-none {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .service__items {
      flex-wrap: wrap;
      justify-content: center;
    }
    .service__item {
      /* margin: 20px 0; */
      width: 300px;
    }
    .service-title__main--second {
      font-size: 1rem;
      letter-spacing: 0.05em;
      width: 400px;
    }
    .service__items--web,
    .service__items--creator {
      flex-direction: column;
    }
    .website-service,
    .creator-service {
      width: 100%;
    }
    /* .pricechart_wrap {
     
      justify-content: center;
      
    } */

    .md-none {
      display: none;
    }

    .md-show {
      display: block;
    }
    @media screen and (max-width: 375px) {
      .hamburger-button {
        /* position: absolute; */
        top: 40px;
        right: 100px;
        z-index: 2000;
      }
      .service-title__main-second span {
        font-size: 50px;
      }
      .service__item {
        width: 100%;
      }

      .service__item h3 {
        width: 100%;
      }
      .service__item-img {
        margin: 0 auto;
      }
      .service__item-text {
        width: 100%;
        margin: 0;
      }

      .sp-none {
        display: none;
      }

      .sp-show {
        display: block;
      }
    }
  }
}

/* Works-FV */
.fv {
  margin-top: 100px;
}

.fv__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-image: url(../img/aboutback.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-title {
  display: inline-block;
  font-size: 80px;
  letter-spacing: 0.08em;
  font-weight: 100;
  padding: 0;
  position: relative;
}

.page-title--creator,
.page-title--dessert,
.page-title--hobby {
  display: inline-block;
  font-size: 80px;
  letter-spacing: 0.08em;
  font-weight: 100;
  padding: 0;
  position: relative;
}

/* .page-title--creator::after,
.page-title--dessert::after,
.page-title--hobby::after {
  position: absolute;
  bottom: 15px;
  right: 0px;
  content: "";
  border: solid 2px #bf901a;
  width: 80px;
  border-radius: 5px;
} */

.fv-img {
  border-radius: 8px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1130 / 670;
}

/* contents */
.contents {
  margin: 80px 0;
  position: relative;
  z-index: 100;
}

.contents__inner {
  display: flex;
}

.contents__items {
  width: 70%;
  margin: 100px 30px;
}

.contents__item {
  display: flex;
  padding: 30px 0;
}

.contents-title {
  padding: 0 20px;
  margin: 0px;
}

/* .contents__text {
  padding: 0px 0px;
  margin-top: 0;
} */

.contents__img {
  width: 40%;
  height: 700px;
  border-radius: 8px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
/* Hobby.html */
.section-title {
  margin-top: 80px;
}
.list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
  /* gap: var(--sixty) calc((100% - 96%) / 2); */
}
.list > div {
  /* width: 32%; */
  position: relative;
  cursor: pointer;
  opacity: 0;
}
.list > div img {
  width: 100%;
  height: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  border-radius: 8px;
}
.list > div p {
  text-align: center;
  padding-top: var(--twenty);
  font-size: 18px;
}
/* .list > div:nth-of-type(3n-1) {
  top: var(--fourty);
} */
/* .list > div:nth-of-type(3n) {
  top: var(--eighty);
} */
.modal__gallery.show .list > div {
  animation: var(--fadeAnimation);
}
.modal__gallery.show .list > div:first-of-type {
  animation-delay: 0s;
}
.modal__gallery.show .list > div:nth-of-type(2) {
  animation-delay: 0.4s;
}
.modal__gallery.show .list > div:nth-of-type(3) {
  animation-delay: 0.8s;
}
.modal__gallery.show .list > div:nth-of-type(4) {
  animation-delay: 1.2s;
}
.modal__gallery.show .list > div:nth-of-type(5) {
  animation-delay: 1.6s;
}
.modal__gallery.show .list > div:nth-of-type(6) {
  animation-delay: 2s;
}
.modal__gallery.show .list > div:nth-of-type(7) {
  animation-delay: 2.4s;
}
.modal__gallery.show .list > div:nth-of-type(8) {
  animation-delay: 2.8s;
}
.modal__gallery.show .list > div:nth-of-type(9) {
  animation-delay: 3.2s;
}
.modal__gallery.show .list > div:nth-of-type(10) {
  animation-delay: 3.6s;
}
.modal__gallery.show .list > div:nth-of-type(11) {
  animation-delay: 4s;
}
.modal__gallery.show .list > div:nth-of-type(12) {
  animation-delay: 4.4s;
}
.modal__gallery.show .list > div:hover img {
  box-shadow: none;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: none;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.83);
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-content {
  /* text-align: center; */
  display: grid;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 25%;
  /* left: 30%; */
  /* transform: translate(30%, 10%); */
}
.modal-content > div {
  position: relative;
}
.modal-content img {
  max-width: 50%;
  /* height: 40vh; */
  border-radius: 8px;
  /* padding: 200px ; */
}
.modal-btn {
  position: absolute;
  top: -40px;
  right: 30%;
  cursor: pointer;
}
.modal-btn > div {
  width: var(--thirty);
  height: var(--thirty);
  position: relative;
}
.modal-btn > div > span {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  right: -200px;
  background-color: #fff;
}
.modal-btn > div > span:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal-btn > div > span:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__wrap {
  display: flex;
  width: 100%;
}
.modal__item {
  margin: 0 20px;
  padding: 0 30px;
  background-color: rgba(211, 211, 211, 0.83);
  border-radius: 8px;
  width: 100%;
}

.my-hobby {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  width: 80%;
  margin-top: 100px;
  border-radius: 8px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 100;
}

.my-hobby__title {
  padding-top: 30px;
}

.my-hobby__text {
  letter-spacing: 0.05em;
  line-height: 1.88;
}

/* dessert.html */
.slider img {
  width: 70%; /*スライダー内の画像を横幅100%に*/
  height: 300px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.test-slick {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
  z-index: 100;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
}

.introduce {
  position: relative;
  z-index: 100;
  margin: 80px 0;
}

.introduce__inner {
  display: flex;
  /* margin-inline: auto; */
  padding: 0;
}

.introduce__shop-img {
  width: 40%;
  margin: 0 20px;
  border-radius: 8px;
  object-fit: cover;
}
.introduce__wrap {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  background-image: url(../img/aboutback.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.my-shop__title {
  font-size: 24px;
  /* padding-left: 30px; */
}

.my-shop__title--policy {
  letter-spacing: 0.05em;
  line-height: 1.337;
}
.my-shop__text {
  padding: 30px;
  letter-spacing: 0.05em;
  line-height: 1.55;
}
.shop__link {
  font-size: 18px;
  /* margin-left: 30px; */
  padding: 20px;
  width: 40%;
}
.shop__link.read-more__button {
  width: 250px;
}
.shop__link.read-more__button::after {
  top: 3px;
}

.introduce__shop-img--container {
  display: flex;
  margin-top: 80px;
}

.my-shop__map--inner {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .test-slick {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
} */

/* creator.html */
.kv {
  position: relative;
  /* display: flex; */
  z-index: 100;
}

.kv__video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  border-radius: 8px;
  /* aspect-ratio: 1000 / 700; */
}
.kv__video-wrap {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 0;
  margin: 20px 0 40px;
}
.kv__video-title {
  line-height: 1.88;
  text-align: center;
  width: 100%;
}

.swiper-title {
  text-align: center;
  font-family: "Yu Gothic";
  position: relative;
  z-index: 100;
}
.swiper__sv {
  position: relative;
  z-index: 100;
}
.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #fff3e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 50%;
  border-radius: 8px;
  /* object-fit: cover; */
  aspect-ratio: 350 / 300;
}
.swiper__wrapper--bottom {
  width: 80%;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 0;
  margin: 20px auto;
}

.swiper__wrapper--text {
  padding: 0 20px;
  letter-spacing: 0.05em;
  line-height: 1.887;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 60%;
  }

  .contents__item {
    flex-direction: column;
    padding-top: 20px;
  }
  .contents__text {
    padding-top: 20px;
  }

  .footer__icon {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .modal__gallery {
    padding-top: 30px;
  }
  .list > div img {
    height: calc(237 * 0.15vw);
  }
  .modal-content img {
    width: calc(723 * 0.1vw);
  }

  @media screen and (max-width: 768px) {
    :root {
      --twelve: calc(12 * 0.2666vw);
      --sixTeen: calc(16 * 0.2666vw);
      --twenty: calc(20 * 0.2666vw);
      --twentyFour: calc(24 * 0.2666vw);
      --twentyFive: calc(25 * 0.2666vw);
      --thirty: calc(30 * 0.2666vw);
      --thirtyTwo: calc(32 * 0.2666vw);
      --fourty: calc(40 * 0.2666vw);
      --foutyFive: calc(45 * 0.2666vw);
      --sixty: calc(60 * 0.2666vw);
      --eighty: calc(80 * 0.2666vw);
      --eightyFive: calc(85 * 0.2666vw);
      --oneHundred: calc(100 * 0.2666vw);
    }
    .header__logo {
      width: 132px;
    }

    .logo img {
      width: 150px;
      margin-left: 0;
    }
    .hamburger-button {
      /* position: absolute; */
      top: 40px;
      right: 100px;
      z-index: 2000;
    }
    .fv {
      margin-top: 80px;
    }
    .page-title {
      font-size: 50px;
    }
    .fv__head {
      flex-direction: column;
    }

    .contents__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .contents-title {
      /* padding-left: 20%; */
      padding: 0;
    }
    .contents__items {
      margin: 0 0 40px 0;
    }
    .contents__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }
    .contents__img {
      width: 80%;
    }
    .swiper__wrapper--text {
      padding: 0;
    }

    .page-title--creator,
    .page-title--dessert,
    .page-title--hobby {
      display: inline-block;
      font-size: 50px;
      letter-spacing: 0.08em;
      font-weight: 100;
      padding: 0;
      position: relative;
    }

    .list {
      row-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 32px;
      column-gap: 10px;
    }
    .list > div {
      width: 100%;
      position: static;
      /* padding: 0 80px; */
    }
    .list > div img {
      height: calc(235 * 0.15vw);
    }
    .modal-content {
      /* position: absolute;
      top: 10%;
      left: 15%; */
      /* transform: translate(-50%, -50%); */
      left: 20%;
    }

    .modal-content img {
      width: 95vw;
      /* height: 61vw; */
    }
    .modal__wrap {
      flex-direction: column;
    }
    .modal__item {
      margin: 20px 0 0;

      width: 37%;
      height: 200px;
    }

    .modal-btn > div > span {
      right: 0;
    }

    .introduce__inner {
      width: 100%;
      flex-direction: column;
    }
    .shop__link.read-more__button {
      margin-inline: auto;
    }
    .introduce__wrap {
      text-align: center;
      width: 100%;
      margin-top: 30px;
    }
    .introduce__shop-img--container {
      flex-direction: column;
      margin: 30px auto;
    }
    .introduce__shop-img {
      width: 80%;
      margin-inline: auto;
      margin: 20px auto;
    }
    .my-shop__title--policy {
      margin: 30px;
    }
    .my-hobby__text {
      width: 80%;
      margin-inline: auto;
    }
    .read-more__button {
      margin: 40px auto;
    }

    .kv {
      flex-direction: column;
    }
    .kv__video {
      width: 100%;
    }
    .kv__video-wrap {
      margin-inline: auto;
    }

    .footer__container {
      display: flex;
    }
    .footer__nav.inner {
      width: 150px;
    }
    .footer__items {
      max-width: 200px;
      flex-direction: column;
    }
    .footer__item {
      padding: 20px 0;
    }

    .footer__icon {
      flex-direction: column;
      width: 50px;
      margin: 0 15px;
    }
    .footer__icon i {
      font-size: 30px;
      padding: 25px 0;
    }
    .footer__info.inner {
      padding-top: 80px;
    }

    .pc-show {
      display: none;
    }
    .md-show {
      display: block;
    }

    .md-none {
      display: none;
    }
    @media screen and (max-width: 375px) {
      .hamburger-button {
        /* position: absolute; */
        top: 40px;
        right: 60px;
        z-index: 2000;
      }
      .fv {
        margin-top: 150px;
      }
      .page-title {
        font-size: 30px;
      }
      .page-title::after {
        top: 35px;
        width: 40px;
      }
      .list {
        grid-template-columns: repeat(1, 1fr);
      }
      .list > div img {
        height: calc(237 * 0.3vw);
      }
      .swiper__wrapper--text {
        padding: 0 7px;
      }
      .sp-show {
        display: block;
      }
      .sp-none {
        display: none;
      }
    }
  }
}
